server:
  port: 8081

spring:
  application:
    name: tenant-service
  datasource:
    url: ${TENANT_SERVICE_DB_URL:jdbc:postgresql://localhost:5432/application_maker}
    username: ${TENANT_SERVICE_DB_USERNAME:app_user}
    password: ${TENANT_SERVICE_DB_PASSWORD:app_password}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info

